%article#about-box
  .close-button
  %div
    %h1= t('branding.about_header', location: t('branding.location'))
    %p
      = t('branding.description', location: t('branding.location'))

    %p
      This is a project of
      = link_to('Open Wichita', 'http://openwichita.com') + '.'
      We’re a grassroots organization that brings citizens together to collaborate
      on technology solutions to community problems.

    -# %p
      = link_to t('views.about.project_link'), t('views.about.project_link_url'), target: '_blank'

    %footer
      %p
        %em
          Development team:
        %br
        = link_to 'Chris Lofland', 'https://twitter.com/EkpyroticFrood'
        |
        = link_to 'Adam Messinger', 'https://twitter.com/adammessinger'
        |
        = link_to 'Jim Rice', 'https://twitter.com/jiiimbot'

      %p
        %em
          Content team:
          %br
          = link_to 'Emily Behlmann', 'https://twitter.com/ebehlmann'
          |
          = link_to 'Chris Lofland', 'https://twitter.com/EkpyroticFrood'
          |
          = link_to 'Jim Rice', 'https://twitter.com/jiiimbot'

      %p
        Geocoding courtesy of Google.

      %p
        %a{ href: 'https://www.flickr.com/photos/chrism70/1369832118/', target: '_blank' }
          Keeper of the Plains photo
        by Chris Murphy
        %br
        © 2007,
        %a{ href: 'https://creativecommons.org/licenses/by-nc-nd/2.0/', target: '_blank' }
          by/nc/nd Creative Commons License
